BlazorAppTest2/BlazorAppTest2/BlazorAppTest2/obj
BlazorAppTest2/BlazorAppTest2/BlazorAppTest2/bin
BlazorAppTest2/BlazorAppTest_Client/obj
BlazorAppTest2/BlazorAppTest_Client/bin
BlazorAppTest2/.vs
BlazorAppTest2/BlazorAppTest2/BlazorAppTest2/GoogleAPI.txt
BlazorAppTest2/BlazorAppTest2/BlazorAppTest2.Client/bin
BlazorAppTest2/BlazorAppTest2/BlazorAppTest2.Client/obj
BlazorAppTest2/BlazorAppTestREST_API/bin
BlazorAppTest2/BlazorAppTestREST_API/obj
